html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}
body{
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}
button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
    cursor: pointer
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
 select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: auto
}

select::ms-expand{
    display: none;
}
input::-ms-clear {
   display: none;
}
/**************
END RESETT CSS
****************/

body {
    background-color: #F3F3F3;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    line-height: 1.33;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.container--lt {
    max-width: 940px;
}
.content {
    background-color: #fff;
    padding: 60px 0;
}
@media(max-width: 960px) {
    .content {
        padding: 20px 0;
    }
}
.h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
}
.h2 {
    font-size: 24px;
}
.h3 {
    font-size: 20px;
}
.text-gray {
    color: #535353
}
.font-700 {
    font-weight: 700;
}
.font-600 {
    font-weight: 600;
}
.font-500 {
    font-weight: 500;
}
a{
    color: currentColor;
    transition: all .3s;
}
.bg-gray {
    background-color: #F3F3F3;
}
.btn {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    color: #000;
    min-height: 48px;
    line-height: 1;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 2px 24px;
    transition: all .3s;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
}
@media(max-width: 1100px) {
    .btn {
        height: 40px;
        padding: 1px 4px;
    }
}
.btn:hover {
    background-color: #000;
    color: #fff;
}
.btn--red {
    color: #D3232B;
    border-color: #D3232B;
}
.btn--red:hover {
    background-color: #D3232B;
    color: #fff;
}
.btn--black {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn--black:hover {
    background-color: transparent;
    color: #000;
}
.header {
    padding: 40px 0;
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 24px;
}
.logo img {
    max-height: 112px;
}
.cta {
    flex-grow: 1;
}
.cta__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.content__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.content__header__right {
    text-align: right;
}
.link {
    position: relative;
    display: inline-block;
    color: #5186d0;
    border-bottom: 1px dashed currentColor;
}
/* .link::after {
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 2px dotted #000;
    position: absolute;
    top: 90%;
    left: 0;
    transition: all .3s;
} */
.link:hover {
    border-bottom-color: transparent;
}
.content__header p:not(:last-child) {
    margin-bottom: 8px;
}
.content__header .h2 {
    margin-bottom: 16px;
}
.content__title {
    text-align: center;
    margin-bottom: 24px;
}
.content__title .h1 {
    margin-bottom: 8px;
}
.additional-comment {
    margin-bottom: 24px;
}
.comment-body {
    padding: 8px 16px;
    margin-top: 16px;
}
.table-block {
    margin-bottom: 24px;
}
.table-block > .h2{
    margin-bottom: 16px;
}
.table {
    table-layout: fixed;
    width: 100%;
}
.table thead th {
    text-align: left;
    background-color: #f3f3f3;
    color: #535353
}
.table thead th.text-right {
    text-align: right;
}
.table th,
.table td {
    padding: 8px 16px;
    line-height: 1.4;
}
.table--product th:first-child,
.table--product td:first-child{
    width: 35%;
}
.table--product th:nth-child(4),
.table--product td:nth-child(4) {
    text-align: center;
    width: 60px;
    padding: 8px;
}
.table tbody tr:first-child td{
    border-top: 1px solid #E1E1E1;
}
.table-block--total  tbody tr:first-child td,
.table thead + tbody tr:first-child td {
    border-top: none
}
.table tbody tr td {
    border-bottom: 1px solid #E1E1E1;
}
.table tfoot td {
    border-top: 2px solid #000;
    font-weight: 600;
    padding: 16px;
}
.table .table-tr-total td {
    border-top: unset;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-red {
    color: #D3232B;
}
.table-block--total {
    position: relative;
    padding: 24px 0;
}
.table-block--total::after {
    content: '';
    width: calc(100% + 48px);
    height: 100%;
    border-radius: 16px;
    background-color: #F3F3F3;
    position: absolute;
    left: -24px;
    top: 0;

}
@media(max-width: 1100px) {
    .table-block--total::after {
        width: calc(100% + 40px);
        border-radius: 0;
        left: -20px;
    }
}
.table-block--total .table {
    position: relative;
    z-index: 1;
}
.table-block--total tbody tr td{
    border-bottom-color: #7B7B7B;
}
.example-img {
    margin-bottom: 24px;
}
.example-img .h2 {
    margin-bottom: 16px;
}
.example-img__body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
    padding: 8px;
    line-height: 0;
}
.example-img__body img {
    max-width: 100%;
}
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F3F3F3;
    opacity: 0.8;
    z-index: 10;
    display: none;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: none;
}
.modal__content {
    background-color: #fff;
    width: 600px;
    padding: 30px 50px;
    position: relative;
    border-radius: 16px;
}
.close {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: all .3s;
}
.close:hover {
    color: #D3232B
}
.close::before,
.close::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}
.modal__content .h1 {
    margin-bottom: 22px;
    border-radius: 16px;
}
.input-wrapper span{
    display: block;
    margin-bottom: 12px;
}
.input-wrapper textarea, 
.input-wrapper input {
    width: 100%;
    background-color: transparent;
    border: 2px solid #E1E1E1;
    height: 40px;
    appearance: none;
    padding-left: 16px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    outline: none;
} 
.input-wrapper textarea {
    height: 200px;
    padding-top: 10px;
    resize: none;
}
.modal .btn-container {
    margin-top: 48px;
}
.btn-container .btn {
    min-width: 134px;
    justify-content: center;
}
.table--deliver td:last-child{
    width: 75%;
}
.table--name th:first-child,
.table--name td:first-child {
    width: 200px;
}
.table--name th:nth-child(2),
.table--name td:nth-child(2) {
    width: 35%;
}
@media(max-width: 1200px) {
    .cta__btns {
        gap: 10px;
    }
    .cta__btns .btn {
        flex-grow: 1;
        justify-content: center;
    }
}
.reqvisites {
    text-align: center;
    margin-bottom: 24px;
    color: #535353;
}
.sign {
    text-align: center;
    margin-top: 24px;
}
.sign img {
    max-width: 100%;
}
.title {
    position: relative;
    display: inline-block;
}
.title .text-small {
    line-height: 1;
    transform: translateY(-10px);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

}
.text-small {
    font-size: 0.7em;
}
.modal__content__subtitle {
    margin-bottom: 22px;
}
.icon-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.icon-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    line-height: 1;
    transition: all .3s;
}
.icon-button:hover {
    opacity: 0.7;
}
.additional-option {
    background-color: #f3f3f3;
    border-radius: 4px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    margin-bottom: 8px;
}
.additional-option__data {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.additional-option .close {
    position: relative;
    top: 0;
    right: 0;
    flex: none;
    width: 18px;
    height: 18px;
}
.modal-success-icon {
    margin-bottom: 24px;
}
.history .h1 {
    margin-bottom: 32px;
}
.history .h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}
.comment-item {
    margin-bottom: 30px;
}
.comment-item__option {
    font-size: 14px;
    margin-bottom: 5px;
}
.comment-item__body {
    border-radius: 16px;
    padding: 8px 16px;
    line-height: 1.3;
    background-color: #F3F3F3;
    position: relative;
}
.comment-item__body--inline {
    display: inline-block;
    padding-right: 30px;
}
.comment-item__body.active {
    background-color: #FFD594;
}
.comment-item__body.active::after {
    border-top-color: #FFD594;
    border-right-color: #FFD594;
}
.comment-item__body::after {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #F3F3F3;
    border-right-color: #F3F3F3;
    position: absolute;
    top: 99%;
    left: 20px;
}
